<div class="vh-100 d-flex">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100 sidemenu">
    <h1 *ngIf="selectedUser !== null" class="fs-6">{{selectedUser.name}}</h1>
    <nav class="mb-auto">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ul>
    </nav>
  </div>
  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>
</div>
